*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 238, 238);
}

/* HEADER */

.header{
    height: 10%;
    background-color: white;
}

#logo{
    margin: 15px 15px 15px 15px;
    width: 50px;
    vertical-align: middle;

}

#title{
    font-family: 'Gabarito', sans-serif;
    font-size: 60px;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
}

/* MAIN */

.main-container{

    margin: 0 auto;
    background-color: white;
    width: 70%;
}

.hr{
    color: rgb(241, 238, 238);
    
}


/* BUTTONS */