*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 238, 238);
}

/* HEADER */

.header{
    height: 10%;
    background-color: rgb(255, 255, 255);
}

#logo{
    margin: 15px 15px 15px 15px;
    width: 50px;
    vertical-align: middle;

}

#title{
    font-family: 'Gabarito', sans-serif;
    font-size: 60px;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
}

/* MAIN */

.main-container{

    margin: 0 auto;
    background-color: white;
    width: 70%;
    border-radius: 10px;
}

.hr{
    color: rgb(241, 238, 238);
    
}

.task-container{
    margin-top: 5%;

}

/* BUTTONS */

.task-button{
    margin: 1% 0% 1% 5%;
    background-color: rgb(0, 132, 255);
    border-color: rgb(0, 132, 255);
    padding: 7px 17px;
    color: white;
    border-radius: 7px;
    font-weight: 1000;
}

.section-button{
    background-color: white;
    font-weight: 1000;
    color: rgb(187, 187, 187);
    padding: 7px 10px;
    border-radius: 7px;

}

  /* LIST */

.listcontainer{
margin: 3% 2% 0% 6%;
}

.list{
list-style-type: "⯆";
color: rgb(49, 49, 49);
}

.title-task-font{
font-family: 'Gabarito', sans-serif;
color: rgb(49, 49, 49);
padding: 5px;
font-size: 30px;
}

.task-list{
    padding: 10px;
}

.done-task{
        
    /* da finire */
    padding: 5px;
    margin: 15px 0px;
}

.non-done-task{
    margin: 15px 0px;
}

.task-fonts{
    vertical-align: middle;
    font-family: 'Gabarito', sans-serif;
    color: rgb(49, 49, 49);
    font-size: 25px;
    
}

.taskbox{
    vertical-align: middle;
    margin-left: 5px;
    font-family: 'Gabarito', sans-serif;
    display: inline-block;
    padding: 8px;
    color: white;
    border-radius: 10px;
    font-size: 12px;

}

/* COLORI TASKBOX */

.blue{
    background-color: rgb(0, 132, 255);
}

.purple{
    background-color: rgb(189, 12, 189);
}

.watergreen{
    background-color: hwb(167 0% 0%);
}

.orange{
    background-color: orange;
}

.pink{
    background-color: rgb(255, 106, 205);
}

.lime{
    background-color: limegreen;
}